## SparkJDBC
+ MariaDB나 Oracle에 저장된 테이블을 불러와서
분석을 하려면 pyspark 실행시 JDBC드라이버를 지정해야 함
+ pyspark --driver-class-path '사용할 jdbc드라이버'

In [4]:
# mariadb 접속정보
url = 'jdbc:mysql://bigdata.c8hdgnwsefiu.ap-northeast-2.rds.amazonaws.com:3306/bigdata'
uid = 'admin'
pwd = 'Bigdata_2023'
db = 'bigdata'

In [5]:
# sparkSQL을 위한 스파크 세션 생성
spark = SparkSession.builder.master('app').appName('sparkJDBC').getOrCreate()

In [6]:
# read.format('jdbc').options(접속정보)
emp = spark.read.format('jdbc')\
    .options(url = url, user=uid, password=pwd, dbtable='EMPLOYEES')\
    .load()

In [7]:
emp.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: double (nullable = true)
 |-- COMMISSION_PCT: double (nullable = true)
 |-- MANAGER_ID: integer (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [8]:
emp.select('FIRST_NAME').show(5)

+----------+
|FIRST_NAME|
+----------+
|    Steven|
|     Neena|
|       Lex|
| Alexander|
|     Bruce|
+----------+
only showing top 5 rows

### spark jar 디렉토리를 이용해서 database 접속하기
+ /usr/share/spark/jars 에 mariadb-java-client-2.7.2.jar, mysql-connector-java-5.1.49-bin.jar, ojdbc8.jar 복사해 줌
   - 실행중인 pyspark 중지시킴
   - cp   /home/hadoop/jdbc/*.jar   /usr/share/spark/jars/  (관리자 계정)
   - chown   hadoop:hadoop  -R  /usr/share/spark
   - pyspark 다시 실행